################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WindBarrierReinforcement/v15/
/.vs/
.vs/
**/.vs/
**/WindBarrierReinforcement/bin/
**/WindBarrierReinforcement/obj/
**/bin
**/obj
packages/
*.sqlite
.vs/slnx.sqlite
*.sqlite
*.pdb
*.pdb
*.exe
*.sqlite
*.sqlite
*.lock
*.suo
*.cache
.vs/WindBarrierReinforcement/v15/sqlite3/storage.ide
*.sqlite
*.sqlite
.vs/WindBarrierReinforcement/v15/.suo
.vs/WindBarrierReinforcement/v15/sqlite3/storage.ide
.vs/windturbine3Dreinforcement/v15/.suo
